html, body{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Questrial', sans-serif;
}

.hidden{
    visibility: hidden;
}

/* all h1s and padding ipad view */
@media screen and (max-width: 750px){
    h1 {
        font-size: 1.5em !important;
    }

    #about, #guest-speakers, #schedule-wrapper, #stay-updated, #organizers-wrapper, #faq{
        padding: 50px !important;
    }
}


/* nav bar */

@media screen and (max-width: 1050px) {
    #nav{
        display: none;
    }
}


#nav{
    list-style-type: none;
    height: 40px;
    margin: 0;
    padding: 20px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 100;
}

#nav li{
    float: right;

}

#liLogo{
    float: left !important;
}

#nav a{
    display: block;
    padding: 9px;
    margin-left: 40px;
    text-decoration: none;
    color: black;
}

#logo{
    width: 25px;
    height: 25px;
    margin-left: 60px;

}

#nav h2{
    display: inline;
    margin: 6px 0 0 15px;
}

#end{
    margin-right: 55px;
}

/* main */

@media screen and (max-width: 820px) {
    #main h1{
        font-size: 4em !important;
    }

    #main h2{
        font-size: 1.2em !important;
    }

    #signup{
        width: 4.8em !important;
        font-size: 1.2em !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px){
    #main{
        padding-top: 140px !important;
    }
    
    #main h1{
        font-size: 3em !important;
    }

    #main h2{
        font-size: 0.9em !important;
    }

    #signup{
        margin-top: 160px !important;
        width: 3.6em !important;
        font-size: 0.9em !important;
    }
}

#particles-js {
    position: absolute;
    background-color: black;
    width: 100%;
    z-index: -10;
    height: 1200px;
}

#main{
    padding: 200px 0 50px 0;
    text-align: center;
    position: relative;
}

#main h1{
    margin-top: 80px;
    margin-bottom: 0;
    font-size: 5em;
    color: rgb(59, 223, 141);
}

#main h2{
    color: rgb(59, 223, 141);
    font-size: 1.5em;
}

#signup{
    display: block;
    margin: 180px auto 0 auto;
    padding: 20px 40px 20px 40px;
    background-color: rgb(59, 223, 141);
    border: none;
    width: 6em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

/* about */
@media screen and (max-width: 870px){
    #about p{
        max-width: 555.13px !important;
        width: 100% !important;
        min-width: 0 !important;
    }
}

#about{
    padding: 100px 100px 100px 150px;
    background-color: rgb(236, 248, 241);
}

#about p{
    margin-top: 60px;
    width: 45%;
    min-width: 28em;
    font-size: 1.24em;
    line-height: 1.8em;
}

/* faq */
@media screen and (max-width: 870px){
    #faq p{
        max-width: 555.13px !important;
        width: 100% !important;
        min-width: 0 !important;
    }
}

#faq{
    padding: 100px 100px 100px 150px;
    background-color: rgb(204, 255, 230);
}

#faq p{
    width: 45%;
    min-width: 28em;
    font-size: 1.24em;
    line-height: 1.8em;
}

#faq h3{
    font-size: 1.4em;
    margin: 3em 0 0 0;
}

/* guest speakers */
@media screen and (max-width: 750px){
    #guest-speakers{
        text-align: center;
    }

    .speaker-card{
        height: 500px !important;
        margin-top: 15px !important;
    }

    .speaker-img{
        float: none !important;
    }

    .speaker-info{
        float: none !important;
        margin: 10px 0 0 0 !important;
    }

    
}

@media screen and (min-width: 300px) and (max-width: 500px){
    .speaker-card{
        width: 200px !important;
        height: 320px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .speaker-img{
        width: 180px !important;
        height: 252px !important;
    }

    .speaker-info h3{
        margin-bottom: 5px !important;
    }

    .speaker-info p{
        margin-top: 5px !important;
        font-size: 0.8em;
    }
}

#guest-speakers{
    padding: 100px 100px 100px 150px;
    background-color: rgb(212, 255, 234);
    text-align: center;
}

#guest-speakers .first-card{
    margin-top: 60px !important;
}

.speaker-card{
    width: 300px;
    display: inline-block;
    height: 400px;
}

.speaker-card p{
    line-height: 16px;
}

.speaker-img{
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

.speaker-info h3{
    margin-top: 6px;
}

/* sponsors */
#sponsors {
    text-align: center;
    padding: 50px;
}

#sponsors img {
    width: 300px;
    -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 0.5s ease;
}

#sponsors img:hover {
    -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
}

/* schedule */

#schedule-wrapper{
    padding: 100px 100px 100px 150px;
    background-color: rgb(226, 255, 239);
}

#schedule{
    margin-top: 60px;
}


.date h3 {
    text-decoration: underline;
    font-size: 2em;
}

.date li{
    height: 40px;
    padding: 10px 0 0 0;
}
#left-side-schedule, #right-side-schedule {
    width: 48%;
    display: inline-block;
}
.schedule-item {
    font-weight: bold;
    background-color: white;
    width: 100%;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1.25em;
    box-shadow: inset 0 0 0 3px gray;

}
.schedule-item .left {
    width: 30%;
    max-width: 120px;
    display: inline-block;
    vertical-align: middle;
}
.schedule-item .right {
    width: 45%;
    display: inline-block;
}

.schedule-item.green {
    background-color: green;
    box-shadow: inset 0 0 0 3px darkgreen;
    color: white;
}

.schedule-item.blue {
    background-color: #3975cf;
    box-shadow: inset 0 0 0 3px #255aaa;
    color: white;
}

.schedule-item.red {
    background-color: #cf5b5b;
    box-shadow: inset 0 0 0 3px #a34343;
    color: white;
}

.times{
    display: inline-block;
    list-style-type: none;
    width: 30%;
    padding: 0;
    max-width: 120px;
}

.events{
    display: inline-block;
    width: 45%;
    list-style-type: none;
    padding: 0;
    
}

@media screen and (max-width: 750px){
    #schedule-wrapper{
        text-align: center;
        padding: 0 !important;
        padding-top: 10px !important;
    }
    .schedule-item {
        width: 100%;
    }
    #left-side-schedule, #right-side-schedule {
        margin: auto;
        display: block;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px){
    .date{
        min-width: 250px !important;
    }

    .date li{
        height: 100px !important;
    }
}


/* stay updated */
@media screen and (max-width: 920px) {
    #stay-updated a{
        font-size: 1.08em !important;
        width: 18em !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px){
    #stay-updated a{
        font-size: 0.8em !important;
        width: 14em !important;
    }
}


#stay-updated{
    padding: 100px 100px 100px 150px;
    background-color: rgb(173, 255, 215);
    text-align: center;
}

#stay-updated-links{
    margin-top: 60px;
}

#stay-updated a{
    display: block;
    margin: 0 auto 0 auto;
    padding: 1.1em;
    background-color: rgb(223, 59, 182);
    border: none;
    width: 25em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

/* organizers */

@media screen and (min-width: 300px) and (max-width: 500px){
    .organizer-card{
        width: 180px !important;
       
    }

    .organizer-img{
        height: 187.5px !important;
    }
}

#organizers-wrapper{
    padding: 100px;
    text-align: center;
}

#organizers{
    margin-top: 60px;
}

#organizers h3{
    margin-bottom: 0;
    font-weight: normal;
}

#organizers h5{
    font-weight: normal;
    margin-top: 8px;
    color: rgb(105, 105, 105);
}

.organizer-card{
    display: inline-block;
    width: 240px;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.organizer-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

/* footer */
#footer{
    margin-top: 60px;
    text-align: center;
    font-size: .5 em;
}

